<!DOCTYPE html>
<html ng-app="DHUapp">
<head>

    <title data-ng-bind="title"></title>

    <base href="/" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=580" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta http-equiv="Cache-Control" content="private">

    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/jquery")
    @Styles.Render("~/Content/frontend")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <div class="logo">
                    <a href="/Products/Top">
                        asdasd
                    </a>
                </div>
            </div>
            <div class="dnipro"></div>
            <div class="phones pull-right">
                <ul>
                    <li>
                        <img src="~/Content/Frontend/Images/kyivstar.png" alt="Київстар" />
                        <span> 067 284 35 29</span>
                    </li>
                    <li>
                        <img src="~/Content/Frontend/Images/vodafone.png" alt="Vodafone" />
                        <span> 050 786 27 51</span>
                    </li>
                    <li>
                        <img src="~/Content/Frontend/Images/phone.png" alt="Городской телефон" />
                        <span> 056 371 17 61</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default">
        <div class="container-fluid container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse row">
                <ul class="nav navbar-nav col-md-12">
                    <li class="active col-md-2"><a href="/#/Top">Топ продаж</a></li>
                    <li class="col-md-2"><a href="/#/Molykote" data-ng-onclick="changePage('Molykote')">Molykote</a></li>
                    <li class="col-md-2"><a href="/#/DowCorning" data-ng-onclick="changePage('DowCorning')">Dow Corning</a></li>
                    <li class="col-md-2"><a href="/#/Permabond" data-ng-onclick="changePage('Permabond')">Permabond</a></li>
                    <li class="col-md-2"><a href="/#/Products" data-ng-onclick="changePage('Products')">Продукция</a></li>
                    <li class="col-md-2"><a href="/#/PaymentShipping" data-ng-onclick="changePage('PaymentShipping')">Оплата и доставка</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="snivel-wrapper">
        <div class="snivel"></div>
    </div>


    <div class="container body-content">
        <div class="row well height-50 p-0">
            <div class="input-group col-md-2 float-l">
                <input type="text" class="form-control" placeholder="Поиск..." id="search">
            </div>
            <div class="form-group col-md-2 float-l">
                <select class="form-control" id="sort">
                    <option value="abc">По алфавиту</option>
                    <option value="low">От дешевых к дорогим</option>
                    <option value="high">От дорогих к дешевым</option>
                    <option value="inStock">В наличии</option>
                </select>
            </div>

            <div class="list-inline onPage col-md-2 pull-right">
                <div id="list" class="float-l">
                    <img src="~/Content/Frontend/Images/list.png" />
                    <img src="~/Content/Frontend/Images/list_active.png" style="display:none;" />
                </div>
                <div id="tile" class="float-l">
                    <img src="~/Content/Frontend/Images/tile.png" style="display:none;" />
                    <img src="~/Content/Frontend/Images/tile_active.png" />
                </div>
            </div>
            <div class="onPage col-md-2 pull-right">
                <span class="float-l">Показывать:</span>
                <ul class="list-inline">
                    <li>10</li>
                    <li>20</li>
                    <li>50</li>
                </ul>
            </div>
        </div>
        <div ng-view></div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/frontend")
    <script>
        $(function () {
            App.init();
        });
    </script>
</body>
</html>
