<!DOCTYPE html>
<html ng-app="DHUapp">
<head>

    <title data-ng-bind="title">Molykote-Permabond-DowCorning</title>

    <base href="/" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=580" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta http-equiv="Cache-Control" content="private">

    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/jquery")
    @Styles.Render("~/Content/frontend")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <div class="logo">
                    <a href="/Products/Top">
                        
                    </a>
                </div>
            </div>
            <div class="dnipro float-l"></div>
            
            <div class="phones pull-right">
                <ul>
                    <li>
                        <img src="~/Content/Frontend/Images/kyivstar.png" alt="Київстар" />
                        <span> 067 284 35 29</span>
                    </li>
                    <li>
                        <img src="~/Content/Frontend/Images/vodafone.png" alt="Vodafone" />
                        <span> 050 786 27 51</span>
                    </li>
                    <li>
                        <img src="~/Content/Frontend/Images/phone.png" alt="Факс" />
                        <span> 056 371 17 61</span>
                    </li>
                </ul>
            </div>
            <div id="rates" class="inline-block pull-right" data-ng-if="rates != null">
                <div class="row m-l-10 ">
                    <div class="float-l">$:</div>
                    <div class="m-l-20">{{rates['USD'][0] | number:2}} / {{rates['USD'][1] | number:2}}</div>
                </div>
                <div class="row m-l-10">
                    <div class="float-l">€:</div>
                    <div class="m-l-20">{{rates['EUR'][0] | number:2}} / {{rates['EUR'][1] | number:2}}</div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default">
        <div class="container-fluid container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse row">
                <ul class="nav navbar-nav col-md-12">
                    <li class="active col-md-2"><a href="/#/Top">Топ продаж</a></li>
                    <li class="col-md-2"><a href="/#/Molykote" data-ng-onclick="changePage('Molykote')">Molykote</a></li>
                    <li class="col-md-2"><a href="/#/DowCorning" data-ng-onclick="changePage('DowCorning')">Dow Corning</a></li>
                    <li class="col-md-2"><a href="/#/Permabond" data-ng-onclick="changePage('Permabond')">Permabond</a></li>
                    <li class="col-md-2"><a href="/#/Products" data-ng-onclick="changePage('Products')">Продукция</a></li>
                    <li class="col-md-2"><a href="/#/PaymentShipping" data-ng-onclick="changePage('PaymentShipping')">Оплата и доставка</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="snivel-wrapper">
        <div class="snivel"></div>
    </div>


    <div class="container body-content">
        <div class="row well height-55 p-10 filters">
            <div class="input-group col-md-3 float-l">
                <input type="text" class="form-control" placeholder="Поиск..." id="search" value="{{opts.Search}}">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="doSearch"><span class="fa-search fa" style="top:3px;"></span></button>
                </span>
            </div>

            <div class="col-md-6 pull-right">
                <div class="list-inline viewMode pull-right">
                    <div id="tile" class="pull-right pointer">
                        <img src="~/Content/Frontend/Images/tile.png" title="Показывать сеткой" style="display:none;" />
                        <img src="~/Content/Frontend/Images/tile_active.png" title="Показывать сеткой" />
                    </div>
                    <div id="list" class="pull-right m-r-5 pointer">
                        <img src="~/Content/Frontend/Images/list.png" title="Показывать списком" />
                        <img src="~/Content/Frontend/Images/list_active.png" title="Показывать списком" style="display:none;" />
                    </div>
                </div>
                <div class="onPage pull-right">
                    <span class="float-l m-t-2">Показывать:</span>
                    <ul class="list-inline float-r m-l-5" >
                        <li class="pointer {{perPage}}" title="{{perPage}} на странице" data-ng-class="{ 'active': $index == 0 }" data-ng-repeat="perPage in pager track by $index" data-ng-click="changePerPage(perPage)">{{perPage}} </li>
                    </ul>
                </div>
                <div class="form-group pull-right">
                    <select class="form-control" id="sort">
                        <option value="abc">По алфавиту</option>
                        <option value="low">От дешевых к дорогим</option>
                        <option value="high">От дорогих к дешевым</option>
                        <option value="inStock">В наличии</option>
                    </select>
                </div>
            </div>
        </div>
        <div ng-view></div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/frontend")
    <script>
        $(function () {
            App.init();
        });
    </script>
</body>
</html>
